#jinja2: trim_blocks:True,lstrip_blocks:True
---

scope: {{ patroni_cluster_name }}
name: {{ ansible_hostname }}
namespace: /service/

{% if patroni_log_destination == 'logfile' %}
log:
  level: {{ patroni_log_level |upper }}
  traceback_level: {{ patroni_log_traceback_level |upper }}
  format: {{ patroni_log_format |quote }}
  dateformat: {{ patroni_log_dateformat |quote }}
  max_queue_size: {{ patroni_log_max_queue_size |int }}
  dir: {{ patroni_log_dir }}
  file_num: {{ patroni_log_file_num |int }}
  file_size: {{ patroni_log_file_size |int }}
  loggers:
    patroni.postmaster: {{ patroni_log_loggers_patroni_postmaster |upper }}
    urllib3: {{ patroni_log_loggers_urllib3 |upper }}
{% endif %}

restapi:
  listen: {{ hostvars[inventory_hostname].ansible_facts.default_ipv4.address }}:{{ patroni_restapi_port }}
  connect_address: {{ hostvars[inventory_hostname].ansible_facts.default_ipv4.address }}:{{ patroni_restapi_port }}

{% if not dcs_exists|bool and dcs_type == 'etcd' %}
etcd:
  hosts: {% for host in groups['ETCD_SERVERS'] %}{{ hostvars[host].ansible_facts.default_ipv4.address }}:2379{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}


bootstrap:
  method: {{ patroni_cluster_bootstrap_method }}
  dcs:
    ttl: {{ patroni_ttl |d(30, true) |int }}
    loop_wait: {{ patroni_loop_wait |d(10, true) |int }}
    retry_timeout: {{ patroni_retry_timeout |d(10, true) |int }}
    maximum_lag_on_failover: {{ patroni_maximum_lag_on_failover |d(1048576, true) |int }}
    master_start_timeout: {{ patroni_master_start_timeout |d(300, true) |int }}
    synchronous_mode: {{ synchronous_mode |string |d(false, true) |lower }}
    synchronous_mode_strict: {{ synchronous_mode_strict |string |d(false, true) |lower }}
    synchronous_node_count: {{ synchronous_node_count |d(1, true) |int }}
    postgresql:
      use_pg_rewind: {{ patroni_postgresql_use_pg_rewind |string |d(false, true) |lower }}
      use_slots: true
      pg_hba:
      {% for client in postgresql_pg_hba %}
        - {{ client.type.ljust(10) |default('host') }}{{ client.database.ljust(25) |default('all') }}{{ client.user.ljust(25) |default('all') }}{{ client.address.ljust(25) |default('') }}{{ client.method |default('md5') }} {{ client.options |default(None) }}
      {% endfor %}
        - local replication all              {{ postgresql_password_encryption_algorithm }}
        - host  replication all 127.0.0.1/32 {{ postgresql_password_encryption_algorithm }}
        - host  replication all ::1/128      {{ postgresql_password_encryption_algorithm }}
      {% for host in groups['PGSQL_SERVERS'] %}
        - host replication {{ patroni_replication_username }} {{ hostvars[host].ansible_facts.default_ipv4.address }}/32 {{ postgresql_password_encryption_algorithm }}
        - host all  all {{ hostvars[host].ansible_facts.default_ipv4.address }}/32 {{ postgresql_password_encryption_algorithm }}
      {% endfor %}   
      parameters:
      {% for parameter in postgresql_change_parameters %}
        {{ parameter.option }}: {{ parameter.value }}
      {% endfor %}      
      {% for parameter in postgresql_parameters %}
        {{ parameter.option }}: {{ parameter.value }}
      {% endfor %}
        log_directory: {{ postgresql_log_dir }}

  {% if is_standby_cluster|bool and patroni_standby_cluster.host is defined and patroni_standby_cluster.host | length > 0 %}
    standby_cluster:
      host: {{ patroni_standby_cluster.host }}
      port: {{ patroni_standby_cluster.port }}
    {% if patroni_standby_cluster.primary_slot_name is defined and patroni_standby_cluster.primary_slot_name | length > 0 %}
      primary_slot_name: '{{ patroni_standby_cluster.primary_slot_name }}'
    {% endif %}
    {% if patroni_standby_cluster.restore_command is defined and patroni_standby_cluster.restore_command | length > 0 %}
      restore_command: {{ patroni_standby_cluster.restore_command }}
    {% endif %}
    {% if patroni_standby_cluster.recovery_min_apply_delay is defined and patroni_standby_cluster.recovery_min_apply_delay | length > 0 %}
      recovery_min_apply_delay: {{ patroni_standby_cluster.recovery_min_apply_delay }}
    {% endif %}
    create_replica_methods:
      - basebackup
  {% endif %}

{% if not is_postgresql_exists|bool %}
  initdb:  # List options to be passed on to initdb
    - encoding: {{ postgresql_encoding }}
    - locale: {{ postgresql_locale }}
  {% if postgresql_data_checksums|bool %}
    - data-checksums
  {% endif %}
{% endif %}


postgresql:
{% if (cluster_vip is defined and cluster_vip | length > 0) %}
  listen: {{ hostvars[inventory_hostname].ansible_facts.default_ipv4.address }},{{ cluster_vip }},127.0.0.1:{{ postgresql_port }}
{% else %}
  listen: {{ hostvars[inventory_hostname].ansible_facts.default_ipv4.address }},127.0.0.1:{{ postgresql_port }}
{% endif %}
  connect_address: {{ hostvars[inventory_hostname].ansible_facts.default_ipv4.address }}:{{ postgresql_port }}
{% if patroni_superuser_username == 'postgres' %}
  use_unix_socket: true
{% endif %}

  data_dir: {{ postgresql_data_dir }}
  bin_dir: {{ postgresql_bin_dir }}
  config_dir: {{ postgresql_data_dir }}
  pgpass: {{ postgresql_home_dir }}/.pgpass_patroni

  authentication:
    replication:
      username: "{{ patroni_replication_username }}"
      password: "{{ replicator_pass }}"
    superuser:
      username: "{{ patroni_superuser_username }}"
      password: "{{ postgres_pass }}"
    rewind: 
      username: "{{ patroni_rewind_username }}"
      password: "{{ rewind_pass }}"
  parameters:
    hba_file: {{ postgresql_data_dir }}/pg_hba.conf
    unix_socket_directories: {{ postgresql_unix_socket_dir }}
{% if postgresql_stats_temp_directory_path is defined and postgresql_stats_temp_directory_path != 'none' and postgresql_version is version('14', '<=') %}
    stats_temp_directory: {{ postgresql_stats_temp_directory_path }}
{% endif %}

{% if postgresql_pg_ident is defined and postgresql_pg_ident | length > 0 %}
  pg_ident:
  {% for ident in postgresql_pg_ident %}
    - {{ ident.mapname }} {{ ident.system_username }} {{ ident.pg_username }}
  {% endfor %}
{% endif %}

  remove_data_directory_on_rewind_failure: {{ patroni_remove_data_directory_on_rewind_failure |string |d(false, true) |lower }}
  remove_data_directory_on_diverged_timelines: {{ patroni_remove_data_directory_on_diverged_timelines |string |d(false, true) |lower }}

{% if patroni_callbacks is defined and patroni_callbacks | length > 0 %}
  callbacks:
  {% for callback in patroni_callbacks %}
    {% if callback.script | length > 0 %}
      {{ callback.action }}: '{{ callback.script }}'
    {% endif %}
  {% endfor %}
{% endif %}

  create_replica_methods:
{% if patroni_create_replica_methods is defined and patroni_create_replica_methods | length > 0 %}
  {% for create_replica_method in patroni_create_replica_methods %}
    - {{ create_replica_method }}
  {% endfor %}
  {% if 'pgbackrest' in patroni_create_replica_methods %}
  pgbackrest:
    {% for item in pgbackrest %}
    {{ item.option }}: {{ item.value }}
    {% endfor %}
  {% endif %}
  {% if 'wal_g' in patroni_create_replica_methods %}
  wal_g:
    {% for item in wal_g %}
    {{ item.option }}: {{ item.value }}
    {% endfor %}
  {% endif %}
  {% if 'basebackup' in patroni_create_replica_methods %}
  basebackup:
    {% for item in basebackup %}
    {{ item.option }}: '{{ item.value }}'
    {% endfor %}
    {% if postgresql_version is version('10', '>=') and postgresql_wal_dir is defined and postgresql_wal_dir | length > 0 %}
    waldir: {{ postgresql_wal_dir }}
    {% endif %}
  {% endif %}
  {% if 'pg_probackup' in patroni_create_replica_methods %}
  pg_probackup:
    {% for item in pg_probackup %}
    {{ item.option }}: {{ item.value }}
    {% endfor %}
  {% endif %}
{% else %}
    - basebackup
  basebackup:
    max-rate: '100M'
{% endif %}

{% if postgresql_restore_command is defined and postgresql_restore_command | length > 0 %}
  recovery_conf:
    restore_command: {{ postgresql_restore_command }}
{% endif %}

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false

# specify a node to replicate from (cascading replication)
#  replicatefrom: (node name)

